datadir/aria_log.00000001
datadir/aria_log_control
datadir/ib_buffer_pool
datadir/ib_logfile0
datadir/ib_logfile1
datadir/ibdata1
datadir/ibtmp1
datadir/multi-master.info
datadir/jasperserver/db.opt
datadir/jasperserver/JIAccessEvent.frm
datadir/jasperserver/JIAccessEvent.ibd
datadir/jasperserver/JIAwsDatasource.frm
datadir/jasperserver/JIAwsDatasource.ibd
datadir/jasperserver/JIAzureSqlDatasource.frm
datadir/jasperserver/JIAzureSqlDatasource.ibd
datadir/jasperserver/JIBeanDatasource.frm
datadir/jasperserver/JIBeanDatasource.ibd
datadir/jasperserver/JIContentResource.frm
datadir/jasperserver/JIContentResource.ibd
datadir/jasperserver/JICustomDatasource.frm
datadir/jasperserver/JICustomDatasource.ibd
datadir/jasperserver/JICustomDatasourceProperty.frm
datadir/jasperserver/JICustomDatasourceProperty.ibd
datadir/jasperserver/JICustomDatasourceResource.frm
datadir/jasperserver/JICustomDatasourceResource.ibd
datadir/jasperserver/JIDataSnapshot.frm
datadir/jasperserver/JIDataSnapshot.ibd
datadir/jasperserver/JIDataSnapshotContents.frm
datadir/jasperserver/JIDataSnapshotContents.ibd
datadir/jasperserver/JIDataSnapshotParameter.frm
datadir/jasperserver/JIDataSnapshotParameter.ibd
datadir/jasperserver/JIDataType.frm
datadir/jasperserver/JIDataType.ibd
datadir/jasperserver/JIFileResource.frm
datadir/jasperserver/JIFileResource.ibd
datadir/jasperserver/JIFTPInfoProperties.frm
datadir/jasperserver/JIFTPInfoProperties.ibd
datadir/jasperserver/JIInputControl.frm
datadir/jasperserver/JIInputControl.ibd
datadir/jasperserver/JIInputControlQueryColumn.frm
datadir/jasperserver/JIInputControlQueryColumn.ibd
datadir/jasperserver/JIJdbcDatasource.frm
datadir/jasperserver/JIJdbcDatasource.ibd
datadir/jasperserver/JIJNDIJdbcDatasource.frm
datadir/jasperserver/JIJNDIJdbcDatasource.ibd
datadir/jasperserver/JIListOfValues.frm
datadir/jasperserver/JIListOfValues.ibd
datadir/jasperserver/JIListOfValuesItem.frm
datadir/jasperserver/JIListOfValuesItem.ibd
datadir/jasperserver/JILogEvent.frm
datadir/jasperserver/JILogEvent.ibd
datadir/jasperserver/JIMondrianConnection.frm
datadir/jasperserver/JIMondrianConnection.ibd
datadir/jasperserver/JIMondrianXMLADefinition.frm
datadir/jasperserver/JIMondrianXMLADefinition.ibd
datadir/jasperserver/JIObjectPermission.frm
datadir/jasperserver/JIObjectPermission.ibd
datadir/jasperserver/JIOlapClientConnection.frm
datadir/jasperserver/JIOlapClientConnection.ibd
datadir/jasperserver/JIOlapUnit.frm
datadir/jasperserver/JIOlapUnit.ibd
datadir/jasperserver/JIProfileAttribute.frm
datadir/jasperserver/JIProfileAttribute.ibd
datadir/jasperserver/JIQuery.frm
datadir/jasperserver/JIQuery.ibd
datadir/jasperserver/JIReportAlertToAddress.frm
datadir/jasperserver/JIReportAlertToAddress.ibd
datadir/jasperserver/JIReportJob.frm
datadir/jasperserver/JIReportJob.ibd
datadir/jasperserver/JIReportJobAlert.frm
datadir/jasperserver/JIReportJobAlert.ibd
datadir/jasperserver/JIReportJobCalendarTrigger.frm
datadir/jasperserver/JIReportJobCalendarTrigger.ibd
datadir/jasperserver/JIReportJobMail.frm
datadir/jasperserver/JIReportJobMail.ibd
datadir/jasperserver/JIReportJobMailRecipient.frm
datadir/jasperserver/JIReportJobMailRecipient.ibd
datadir/jasperserver/JIReportJobOutputFormat.frm
datadir/jasperserver/JIReportJobOutputFormat.ibd
datadir/jasperserver/JIReportJobParameter.frm
datadir/jasperserver/JIReportJobParameter.ibd
datadir/jasperserver/JIReportJobRepoDest.frm
datadir/jasperserver/JIReportJobRepoDest.ibd
datadir/jasperserver/JIReportJobSimpleTrigger.frm
datadir/jasperserver/JIReportJobSimpleTrigger.ibd
datadir/jasperserver/JIReportJobTrigger.frm
datadir/jasperserver/JIReportJobTrigger.ibd
datadir/jasperserver/JIReportThumbnail.frm
datadir/jasperserver/JIReportThumbnail.ibd
datadir/jasperserver/JIReportUnit.frm
datadir/jasperserver/JIReportUnit.ibd
datadir/jasperserver/JIReportUnitInputControl.frm
datadir/jasperserver/JIReportUnitInputControl.ibd
datadir/jasperserver/JIReportUnitResource.frm
datadir/jasperserver/JIReportUnitResource.ibd
datadir/jasperserver/JIRepositoryCache.frm
datadir/jasperserver/JIRepositoryCache.ibd
datadir/jasperserver/JIResource.frm
datadir/jasperserver/JIResource.ibd
datadir/jasperserver/JIResourceFolder.frm
datadir/jasperserver/JIResourceFolder.ibd
datadir/jasperserver/JIRole.frm
datadir/jasperserver/JIRole.ibd
datadir/jasperserver/JITenant.frm
datadir/jasperserver/JITenant.ibd
datadir/jasperserver/JIUser.frm
datadir/jasperserver/JIUser.ibd
datadir/jasperserver/JIUserRole.frm
datadir/jasperserver/JIUserRole.ibd
datadir/jasperserver/JIVirtualDatasource.frm
datadir/jasperserver/JIVirtualDatasource.ibd
datadir/jasperserver/JIVirtualDataSourceUriMap.frm
datadir/jasperserver/JIVirtualDataSourceUriMap.ibd
datadir/jasperserver/JIXMLAConnection.frm
datadir/jasperserver/JIXMLAConnection.ibd
datadir/jasperserver/QRTZ_BLOB_TRIGGERS.frm
datadir/jasperserver/QRTZ_BLOB_TRIGGERS.ibd
datadir/jasperserver/QRTZ_CALENDARS.frm
datadir/jasperserver/QRTZ_CALENDARS.ibd
datadir/jasperserver/QRTZ_CRON_TRIGGERS.frm
datadir/jasperserver/QRTZ_CRON_TRIGGERS.ibd
datadir/jasperserver/QRTZ_FIRED_TRIGGERS.frm
datadir/jasperserver/QRTZ_FIRED_TRIGGERS.ibd
datadir/jasperserver/QRTZ_JOB_DETAILS.frm
datadir/jasperserver/QRTZ_JOB_DETAILS.ibd
datadir/jasperserver/QRTZ_LOCKS.frm
datadir/jasperserver/QRTZ_LOCKS.ibd
datadir/jasperserver/QRTZ_PAUSED_TRIGGER_GRPS.frm
datadir/jasperserver/QRTZ_PAUSED_TRIGGER_GRPS.ibd
datadir/jasperserver/QRTZ_SCHEDULER_STATE.frm
datadir/jasperserver/QRTZ_SCHEDULER_STATE.ibd
datadir/jasperserver/QRTZ_SIMPLE_TRIGGERS.frm
datadir/jasperserver/QRTZ_SIMPLE_TRIGGERS.ibd
datadir/jasperserver/QRTZ_SIMPROP_TRIGGERS.frm
datadir/jasperserver/QRTZ_SIMPROP_TRIGGERS.ibd
datadir/jasperserver/QRTZ_TRIGGERS.frm
datadir/jasperserver/QRTZ_TRIGGERS.ibd
datadir/mysql/column_stats.frm
datadir/mysql/column_stats.MAD
datadir/mysql/column_stats.MAI
datadir/mysql/columns_priv.frm
datadir/mysql/columns_priv.MAD
datadir/mysql/columns_priv.MAI
datadir/mysql/db.frm
datadir/mysql/db.MAD
datadir/mysql/db.MAI
datadir/mysql/db.opt
datadir/mysql/event.frm
datadir/mysql/event.MAD
datadir/mysql/event.MAI
datadir/mysql/func.frm
datadir/mysql/func.MAD
datadir/mysql/func.MAI
datadir/mysql/general_log.CSM
datadir/mysql/general_log.CSV
datadir/mysql/general_log.frm
datadir/mysql/global_priv.frm
datadir/mysql/global_priv.MAD
datadir/mysql/global_priv.MAI
datadir/mysql/gtid_slave_pos.frm
datadir/mysql/gtid_slave_pos.ibd
datadir/mysql/help_category.frm
datadir/mysql/help_category.MAD
datadir/mysql/help_category.MAI
datadir/mysql/help_keyword.frm
datadir/mysql/help_keyword.MAD
datadir/mysql/help_keyword.MAI
datadir/mysql/help_relation.frm
datadir/mysql/help_relation.MAD
datadir/mysql/help_relation.MAI
datadir/mysql/help_topic.frm
datadir/mysql/help_topic.MAD
datadir/mysql/help_topic.MAI
datadir/mysql/index_stats.frm
datadir/mysql/index_stats.MAD
datadir/mysql/index_stats.MAI
datadir/mysql/innodb_index_stats.frm
datadir/mysql/innodb_index_stats.ibd
datadir/mysql/innodb_table_stats.frm
datadir/mysql/innodb_table_stats.ibd
datadir/mysql/plugin.frm
datadir/mysql/plugin.MAD
datadir/mysql/plugin.MAI
datadir/mysql/proc.frm
datadir/mysql/proc.MAD
datadir/mysql/proc.MAI
datadir/mysql/procs_priv.frm
datadir/mysql/procs_priv.MAD
datadir/mysql/procs_priv.MAI
datadir/mysql/proxies_priv.frm
datadir/mysql/proxies_priv.MAD
datadir/mysql/proxies_priv.MAI
datadir/mysql/roles_mapping.frm
datadir/mysql/roles_mapping.MAD
datadir/mysql/roles_mapping.MAI
datadir/mysql/servers.frm
datadir/mysql/servers.MAD
datadir/mysql/servers.MAI
datadir/mysql/slow_log.CSM
datadir/mysql/slow_log.CSV
datadir/mysql/slow_log.frm
datadir/mysql/table_stats.frm
datadir/mysql/table_stats.MAD
datadir/mysql/table_stats.MAI
datadir/mysql/tables_priv.frm
datadir/mysql/tables_priv.MAD
datadir/mysql/tables_priv.MAI
datadir/mysql/time_zone.frm
datadir/mysql/time_zone.MAD
datadir/mysql/time_zone.MAI
datadir/mysql/time_zone_leap_second.frm
datadir/mysql/time_zone_leap_second.MAD
datadir/mysql/time_zone_leap_second.MAI
datadir/mysql/time_zone_name.frm
datadir/mysql/time_zone_name.MAD
datadir/mysql/time_zone_name.MAI
datadir/mysql/time_zone_transition.frm
datadir/mysql/time_zone_transition.MAD
datadir/mysql/time_zone_transition.MAI
datadir/mysql/time_zone_transition_type.frm
datadir/mysql/time_zone_transition_type.MAD
datadir/mysql/time_zone_transition_type.MAI
datadir/mysql/transaction_registry.frm
datadir/mysql/transaction_registry.ibd
datadir/mysql/user.frm
datadir/performance_schema/db.opt
jasperserver-import/token-1.2.jar
jasperserver-import/web.xml
jasperserver-import/tomcat/conf/web.xml
